
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to recipes
    match /recipes/{recipeId} {
      allow read: if true;
      
      // Allow authenticated users to create recipes
      allow create: if request.auth != null;

      // Allow users to update or delete only their own recipes
      allow update, delete: if request.auth.uid == resource.data.user_id;
    }
  }
}
